# Ignoring files used for training and evaluating 
data/train/*
data/val/*
/test/udm10/*
/test/vid4/*
/test/additional/*
*.png

# Ignoring checkpoints and logs
/checkpoint/*
/logs/*

# Ignoring workspaces and cache
.idea/*
__pycachee__
/model/__pycache__/*
*.pyc

# Misc
pfnl.txt
training_log.txt
/test/*.txt
/tb_graph/*
