# =============================================== #
# Ignoring files used for training and evaluating #
# =============================================== #
data/train/*
data/val/*
/test/udm10/*
/test/vid4/*
*.png

# =============================================== #
# Ignoring Checkpoint pre-trained models          #
# =============================================== #
/checkpoint/drvsr
/checkpoint/duf_52
/checkpoint/frvsr
/checkpoint/ltdvsr
/checkpoint/mcresnet
/checkpoint/pfnl
/checkpoint/vespcn

# =============================================== #
# Ignoring workspaces        #
# =============================================== #
.idea/*

