# =============================================== #
# Ignoring files used for training and evaluating #
# =============================================== #
data/train/*
data/val/*
/test/udm10/*
/test/vid4/*
*.png

# =============================================== #
# Ignoring Checkpoint pre-trained models          #
# =============================================== #
/checkpoint/*

# =============================================== #
# Ignoring workspaces and cache                   #
# =============================================== #
.idea/*
__pycachee__/*
/model/__pycache__/*
*.pyc

# =============================================== #
# Ignoring logging files                          #
# =============================================== #
*.txt

